<h1>All Contacts</h1>

<ul>
<% $rolodex.contacts.each do |contact| %>
	<li><%=contact.first_name %> <%= contact.last_name %></li>
	<li><a href="http://giphy.com/gifs/dancing-duck-aflack-b9QBHfcNpvqDK/fullscreen"></a>Cool tings</li>
	<li></li>
<% end %>
</ul>