<h1>COOL</h1>
<h2>You should click on this picture...it's kinda meta</h2>

<ul>
	<li>
	<a href="http://giphy.com/gifs/dancing-duck-aflack-b9QBHfcNpvqDK/fullscreen">
	<img src="http://inktank.fi/wp-content/uploads/2014/06/the_internet-1030x579.jpg">	
	</a>Cool tings</li>
</ul>